.introStuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experienceStuff {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.progStuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.designStuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multiStuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projStuff {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.projContent {
    margin-left: 1%;
}

.footerStuff {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.socialStuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: 0.75% auto 2% auto;
}

.formStuff {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 3% auto 2% auto;
}

/*media query*/
@media (max-width: 480px) {
    .socialStuff {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}