table {
    margin: 1% auto;
    width: 60%;
    box-shadow: 0.2vw 0.2vw 2.5vw #d466cd;
}

td, th {
    padding: 2vw;
    background-color: #ff9ff9;
}

th {
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
    background-color: #d466cd;
    color: #730fc3;
    font-size: 2vw;
}