/*main titles*/
h1 {
    text-align: center;
    font-size: 3vw;
    margin: 1.5% auto 0 auto;
    font-weight: 900;
}

/*secondary titles*/
h2 {
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
}

/*comments and descriptions*/
h3 {
    text-align: center;
    font-size: 1.5vw;
    margin: 0 auto 1.2% auto;
    font-style: italic;
}

/*copyright & stuff*/
h4 {
    text-align: center;
    font-size: 1.3vw;
    font-style: italic;
    margin-bottom: 1%;
}

/*lame paragraphs*/
p {
    text-align: center;
    font-size: 1.7vw;
    margin-bottom: 2%;
}

.projContent p, h2{
    margin: 0 4% 0 4%;
    text-align: justify;
}